
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">

    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>

</div>

<div class="row">
    <div class="text-primary" style="margin-top:30px">

        <div class="col-lg-12">
            <h2 class="text-primary" style="margin-bottom:50px">User Api Yönetimi</h2>

            <td class="list-inline">
            <td>
                <a href="~/home/user" class="btn btn-info">User Listesi</a>
            </td>
            <td>

                <a href="~/home/user/Detail" class="btn btn-primary">User Detail</a>
            </td>
            <td>

                <a href="~/home/user/Add" class="btn btn-success">User Add</a>
            </td>
            <td>

                <a href="~/home/user/Login" class="btn btn-success">Login</a>
            </td>

            </td>
            <td class="list-inline">
            <td class"">
                <a href="~/home/cat" class="btn btn-info">Category Listesi</a>
            </td>
            <td class"">
                <a href="~/home/cat/Detail" class="btn btn-primary">Category Detail</a>
            </td>
            <td class"">
                <a href="~/home/cat/Add" class="btn btn-success">Category Add</a>
            </td>
            <td class"">
                <a href="~/home/cat/Edit" class="btn btn-warning">Category Edit</a>
            </td>
            <td class"">
                <a href="~/home/cat/Delete" class="btn btn-danger">Category Delete</a>
            </td>
            </td>

            <td class="list-inline">
            <td class"">
                <a href="~/home/Article" class="btn btn-info">Article Listesi</a>
            </td>
            <td class"">
                <a href="~/home/Article/Detail" class="btn btn-primary">Article Detail</a>
            </td>
            <td class"">
                <a href="~/home/Article/Add" class="btn btn-success">Article Add</a>
            </td>
            <td class"">
                <a href="~/home/Article/Edit" class="btn btn-warning">Article Edit</a>
            </td>
            <td class"">
                <a href="~/home/Article/Delete" class="btn btn-danger">Article Delete</a>
            </td>
            </td>
        </div>
    </div>
</div>

