
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="text-primary" style="margin-top:30px">

        <div class="col-lg-12">
            <h2 class="text-primary" style="margin-bottom:50px">User Api Yönetimi</h2>

            <ul class="list-inline">
                <li class"">
                    <a href="~/home/user" class="btn btn-info">User Listesi</a>
                </li>
                <li class"">

                    <a href="~/home/user/Detail" class="btn btn-primary">User Detail</a>
                </li>
                <li class"">

                    <a href="~/home/user/Add" class="btn btn-success">User Add</a>
                </li>
                <li class"">


                    <a href="~/home/user/Edit" class="btn btn-warning">User Edit</a>

                </li>
                <li class"">
                    <a href="~/home/user/Delete" class="btn btn-danger">User Delete</a>
                </li>
            </ul>
            <ul class="list-inline">
                <li class"">
                    <a href="~/home/cat" class="btn btn-info">Category Listesi</a>
                </li>
                <li class"">
                    <a href="~/home/cat/Detail" class="btn btn-primary">Category Detail</a>
                </li>
                <li class"">
                    <a href="~/home/cat/Add" class="btn btn-success">Category Add</a>
                </li>
                <li class"">
                    <a href="~/home/cat/Edit" class="btn btn-warning">Category Edit</a>
                </li>
                <li class"">
                    <a href="~/home/cat/Delete" class="btn btn-danger">Category Delete</a>
                </li>
            </ul>
        </div>
    </div>
</div>
        
