:root{
  --first-color :#949398FF;
  --secondery-color: #F4DF4EFF;
  --white:#ffffff;

}

#footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    margin-top: 40px;
    width: 100%;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}
#page-container {
    position: relative;
    min-height: 100vh;
}

.jumbotron{
  background-image: url("../img/CloudStoragebanner.png");
  background-size: cover;
  height: 100%;
  padding: 1rem;
}

.jumbotron h1, .jumbotron p{
  color: var(--white);
}
.navbar{
  background-color: var(--secondery-color) ;
  color: var(--first-color);
}

.navbar a{
  color: var(--first-color);
}


.footer {
    background-color: var(--secondery-color);
    color: var(--first-color);
}






h2 { border-bottom: 2px solid var(--first-color); }

